@{
	ViewData["Title"] = "Profile";
}

<h1 class="container align-content-center">Profile</h1>
<div class="container align-content-center">
	<h2>Welcome @Context.User.Identity.Name</h2>
	<a asp-action="DangXuat">Đăng xuất</a>
</div>

